#loading {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  background-color: #e7e8e8;
  z-index: 2000;
  text-align: center;
}

#loading-img {
  position: absolute;
  width: 20vw;
  right: 40vw;
  left: 40vw;
  top: 40vh;
  z-index: 2000;
  padding: 0;
}

/* ----------NAVBAR----------- */
nav {
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.nav-entry {
  position: sticky;
  top: -50px;
  transform: translate(0, 45px);
  transition: transform 0.5s;
}

.nav-exit {
  position: sticky;
  top: -50px;
  transform: translate(0, -50px);
  transition: top 1s, transform 0.5s;
}

.nav-item {
  padding-left: 10px;
  padding-right: 10px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.nav-link:hover {
  color: rgb(1, 173, 237) !important;
}

.navbar-nav .active > .nav-link {
  font-size: 15px;
}

.navbar-brand > img {
  max-width: 50vw;
  height: auto;
  margin-left: 10vw;
}

.navbar-nav {
  margin-right: 10vw;
  font-size: 0.8rem;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  top: 50px;
  left: 40px;
  z-index: 1;
  padding-top: 0;
  width: 160px;
  border: rgb(1, 173, 237) solid 1.5px;
  /* box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.75); */
}

p.justified,
#competition-section .card-text {
  text-align: justify;
}
.dropdown-content a,
hr {
  color: white;
  background-color: #262626;
  padding: 12px 16px;
  text-decoration: none;
  max-width: 160px;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(1, 173, 237);
}

/* .dropdown2:hover .dropdown-content {
  display: block;
} */

/* -------Carousel--------*/
.carousel {
  background: #eee;
}

.carousel-cell {
  width: 66%;
  height: 200px;
  margin-right: 10px;
  background: #8c8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

.carousel {
  background: #eee;
}

.carousel-image {
  display: block;
  height: 200px;
  /* set min-width,
     allow images to determine cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  border-radius: 8px;
  transform: translateY(-50%);
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}

@media screen and (min-width: 768px) {
  .carousel img {
    height: 400px;
  }
}

p {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.card-footer > .btn {
  color: rgba(0, 171, 245, 0.8);
  font-size: 1.2rem;
}
.meta {
  font-size: 0.8571rem;
  font-weight: 600;
  color: #0093e0 !important;
}

@media (max-width: 991px) {
  #loading-img {
    left: 30vw;
    right: 30vw;
    width: 40vw;
  }

  .announcements h2 {
    border-bottom: none;
  }

  .announcements h2.events-heading {
    padding-left: 15px;
    margin-top: 20px;
  }

  .dropdown-content3 {
    margin-left: 0px;
    margin-top: 0px;
  }

  .dropdown-content3,
  .dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
}

.announcements .slick-slider ul {
  font-family: "Open Sans Condensed", Arial, Verdana, sans-serif;
}

.announcements .slick-slider ul li:last-child {
  border-bottom: none;
  margin-bottom: 65px;
}

.announcements .slick-slider ul li h3:hover a {
  color: #7d3793;
  text-decoration: underline;
}

.announcements .slick-slider ul p {
  font-size: 1.2rem;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
}

.announcements .slick-slider .all {
  color: #0093e0 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
}

.announcements .slick-slider .all:hover {
  border-bottom: none;
}

.announcements .slick-slider .all .fa-caret-right {
  padding-left: 6px;
  position: relative;
}

.announcements .slick-slider .all .fa-caret-right:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -4px;
  right: 0;
  background-color: #fff;
}

.announcements .left-right-arrows button:first-child {
  margin-right: 3px;
}

@media (max-width: 991px) {
  .announcements {
    margin: 0 auto;
    width: 70%;
  }
}

@media (max-width: 767px) {
  .announcements {
    width: 80%;
  }

  body {
    font-size: 10pt;
  }

  h1 {
    font-size: 15pt;
  }
}

@media (max-width: 500px) {
  .announcements {
    width: 100%;
  }
}

.left-right-arrows {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

@media (max-width: 767px) {
  .left-right-arrows {
    border-top: -21px;
  }
}

.left-right-arrows button {
  height: 38px;
  width: 38px;
  border: 1px solid #464646;
}

@media (min-width: 360px) and (max-width: 767px) {
  .left-right-arrows button {
    height: 50px;
    width: 50px;
  }
}

.events-section {
  position: relative;
  margin: 0 auto;
}

@media (max-width: 991px) {
  .events-section {
    width: 70%;
  }
}

@media (max-width: 767px) {
  .events-section {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .events-section {
    width: 100%;
  }
}

.events-section .slick-slider ul {
  font-family: "Open Sans Condensed", Arial, Verdana, sans-serif;
}

.events-section .slick-slider ul li {
  padding: 2rem 0;
  position: relative;
}

.events-section .slick-slider ul li:last-child {
  border-bottom: none;
  margin-bottom: 65px;
}

@media (max-width: 767px) {
  .events-section .slick-slider ul li:after {
    width: 80px;
  }
}

.events-section .slick-slider ul li:hover .events-date {
  background-color: #461e52;
  color: #fff;
}

.events-section .slick-slider ul li:hover .event-li h3 {
  color: #0093e0 !important;
}

.events-section .slick-slider ul li .event-li {
  display: inline-block;
  padding-left: 42px;
}

@media (max-width: 767px) {
  .events-section .slick-slider ul li .event-li {
    padding-left: 15px;
  }
}

.events-section .slick-slider ul li .event-li h3 {
  display: inline-block;
  margin-bottom: 8px;
}

@media (max-width: 767px) {
  .events-section .slick-slider ul li .event-li h3 {
    font-size: 1.429rem;
  }
}

.events-section .slick-slider ul li .event-li p {
  font-size: 1.214rem;
  font-weight: 600;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
}

div#video  {
  width: 900px;
  max-width: 90vw;
}

#small,
#large {
  display: none;
}

@media (max-width: 767px) {
  .events-section .slick-slider ul li .event-li p {
    font-size: 16px;
    /*font-size: 1.6rem;*/
  }

  #small {
    display: inline-block;
    max-width: 90vw;
  }

  #large {
    display: none;
  }
}

@media (min-width: 767px) {
  #large {
    display: inline-block;
    width: 60vw;
  }

  #small {
    display: none;
  }
}

.events-section .slick-slider .all {
  color: #461e52;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
}

.events-section .slick-slider .all:hover {
  border-bottom: none;
}

.events-section .slick-slider .all .fa-caret-right {
  padding-left: 6px;
  position: relative;
}

.events-section .slick-slider .all .fa-caret-right:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  bottom: -4px;
  right: 0;
  background-color: #fff;
}

.events-section .slick-slider .events-date {
  min-width: 81px;
  height: 88px;
  background-color: #0093e0 !important;
  font-family: "Helvetica Neue", Helvetica, Arial, open-sans;
  font-weight: 600;
  padding-top: 19px;
  display: inline-block;
  transition: all, 0.4s, ease;
}

@media (max-width: 767px) {
  .events-section .slick-slider .events-date {
    width: 61px;
    height: 68px;
    padding-top: 10px;
  }
}

.events-section .slick-slider .events-date a:focus,
.events-section .slick-slider .events-date a:hover {
  color: #fff;
}

.events-section .slick-slider .events-date span {
  font-weight: 300;
  font-size: 2.5rem;
  display: block;
  padding: 0;
  line-height: 30px;
}

@media (max-width: 767px) {
  .events-section .slick-slider .events-date span {
    font-size: 1.429rem;
  }
}

@media (min-width: 991px) {
  .events-section .left-right-arrows {
    bottom: 0px;
  }
}

a {
  color: #0093e0;
  transition: all, 0.4s, ease;
}

.single-service {
  overflow: hidden;
  display: block;
}

.single-service img {
  margin-bottom: 35px;
}

.single-service .fold {
  margin-bottom: 35px;
}

.single-service h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.single-service p {
  padding: 0 48px;
}

#competition-section .card {
  border-radius: 15px;
}

#competition-section .card .card-text {
  line-height: 1.8;
}

#competition-section .card .card-img-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#competition-section .card .card-body .btn {
  font-size: 1.5rem;
  color: #20c9c3;
  background-color: black;
  border-radius: 30px;
  border-width: 0;
}

#competition-section .card .card-body .btn i {
  font-size: 30px;
}

#competition-section .card .card-body .btn span {
  padding-top: 0;
  margin-top: 0;
}

#sponsormessagehead {
  text-align: center;
  color: blue;
  font-style: bold;
}

#sponsormessagelooking {
  font-style: bold;
  font-size: 1.2em;
}

#clients {
  padding-bottom: 45px;
}

.clients {
  margin-bottom: 45px;
}

.clients img {
  display: inline-block;
}

.clients-logo {
  overflow: hidden;
  margin-bottom: 10px;
}

/*----------Footer*/
#follow {
  padding-bottom: 15px;
}

footer#footer {
  background: none repeat scroll 0 0;
  position: relative;
  bottom: 0;
  padding-top: 0.5rem;
  padding-left: 0;
  padding-right: 0;
}

footer > .container {
  margin-top: 50px;
}

#follow .izoom {
  font-size: 40px;
  color: white;
  padding: 15px;
}

#follow .fa-facebook-square:hover,
#follow .fa-linkedin:hover {
  color: blue !important;
  font-size: 50px !important;
  transition: 0.2s ease-out;
}

#follow .fa-youtube-play:hover {
  color: red !important;
  font-size: 50px !important;
  transition: 0.2s ease-out;
}

#follow .fa-instagram:hover {
  color: rgb(206, 36, 192) !important;
  font-size: 50px !important;
  transition: 0.2s ease-out;
}

footer #info {
  text-align: left;
  font-family: "Lato", sans-serif;
  line-height: 1.7;
}

footer #info a:hover {
  text-decoration: none;
}

footer #info i {
  font-size: 1.5rem;
}

#info li {
  margin-bottom: 1rem;
}

@media (max-width: 991px) {
  #follow .izoom {
    font-size: 30px;
    padding: 10px;
  }

  #footer .row {
    background-color: #262626;
    padding-top: 60px;
  }

  #footer div#logo,
  #footer div#follow {
    text-align: center !important;
  }

  div#sponsormessagetext {
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 991px) {
  #footer {
    background-color: #262626;
  }

  #footer div#logo {
    text-align: right !important;
  }

  div#sponsormessagetext {
    padding-left: 20vw;
    padding-right: 20vw;
  }
}

#scrollBtn {
  display: none;
  position: fixed;
  bottom: 4vh;
  right: 2vw;
  z-index: 150;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: rgba(0, 171, 245, 0.8);
  box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  border-radius: 50%;
}

#scrollBtn i::before {
  font-size: 30px;
}

#scrollBtn:hover {
  transition: all 0.2s;
  bottom: 4.5vh;
}

#scrollBtn:hover i::before {
  /* background-color: black;
  color: white; */
  transition: all 0.5s ease-out;
  transform: translate(0, -5px);
}

#projects img {
  border-radius: 8px;
}

.tour-bg {
  background-image: url("/static/img/tour-bg.b07d596e32d3.png");
  background-color: #fbfafa;
  background-repeat: repeat-x;
  height: 130px;
  background-position: center;
}
