{% load static %}

<div  id="footer">
<footer id="footer" class="container-fluid">
	<div class="container">
	  <div class="row" style="padding-top: 15px;">
		<div class="col-md-5">
		  <div id="logo" class="ftco-footer-widget mb-4">
			<a href="/"><img  src="{% static 'img/icon.png' %}" width="160" height="159" alt=""></a>
		  </div>
		</div>
		<div class="col-md-7">
			
			<div class="ftco-footer-widget mb-4" style="max-width: 400px;">
			  <ul id="info" class="fa-ul mb-3" style="padding-left: 25px;">
				<li><i class="ico fa-li fa fa-map-marker"></i><a class="link" target="_blank" href="https://goo.gl/maps/re7e488wB7tmKzVLA">F3 Shed, near BETiC Lab / OrthoCAD, IIT Area, Powai, Mumbai, Maharashtra 400076</a></li>
				<li><i class="ico fa-li fa fa-envelope"></i><a class="link" href="mailto:contact@umiciitb.com">contact@umiciitb.com</a></li>
			  </ul>
		  </div>
		  <div id="follow" class="ftco-footer-widget mb-4">
			<a href="https://www.facebook.com/innovationcell/" style="padding:5px"><i class="izoom fa fa-facebook-square"></i></a>
			<a href="https://www.instagram.com/umic_iitb/" style="padding:5px"><i class="izoom fa fa-instagram"></i></a>
			<a href="https://www.linkedin.com/company/unmesh-mashruwala-innovation-cell-iit-bombay/" style="padding:5px"><i class="izoom fa fa-linkedin"></i></a>
			<a href="https://www.youtube.com/channel/UCkwi2H7zV2texcM6bQ_UagA" style="padding:5px"><i class="izoom fa fa-youtube-play"></i></a>
		  </div>
		</div>
	  </div>
	</div>
</footer>
</div>



